<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(video) -%>">
  <span class='title'>
    <%= video.name %>
    <span class="preview">&nbsp;</span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag("application_edit.png"), edit_admin_video_path(video),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), admin_video_path(video),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'shared.admin.delete', :title => video.name),
        :method => :delete %>
  </span>
</li>
